// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-container {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width:768px;

    .title{
        text-align: center;
    }


    h1 {
        font-family: 'Lato', sans-serif;
        margin-bottom: 20px;
        font-size: 60px;
    }

    h2 {
        font-size: 20px;

        font-weight: normal;

        &:last-child {
            margin-bottom: 40px;
        }
    }

    .describe-container {
        text-align: left;
        display: flex;
        margin: 0 auto;

        .describe-text {
            width: 70%;
            margin: 70px auto 0px auto;

            h3 {
                font-size: 30px;
                font-weight: 900;
                .camp-bring-text {
                    display: block;
                    font-size:40px;
                    margin-bottom: 12px;
                }
            }

        }



        .container-img {
            padding-left: 30px;
            width: 300px;
            margin: 50px auto 0px auto;
        }

        @media screen and (max-width: 768px) {
            .describe-text {
               
                margin: 30px ;
                margin-bottom: 20px;
                h3 {
                    margin: 3px;
                    font-size: 20px;
                    font-weight: 900;
                    .camp-bring-text {
                        display: block;
                        font-size:20px;
                        margin-bottom: 12px;
                    }
                }

            }
        }

        @media screen and (max-width: 768px) {
            .container-img {
                margin: 50px auto;

                width: 80%;
                display: flex;
            }
        }

    }

    @media screen and (max-width: 768px) {
        .describe-container {
            display: inline-block;
            width: 100%;
        }
    }

    .arrow {
        width: 100%;
        text-align: center;

        .arrow-buttom {
            width: 100px;
            margin: 20px auto;

            display: inline-block;
        }
    }

    .solution-container-text {
        margin: 20px auto 50px auto;
        padding-bottom: 30px;
        font-size: 30px;
        border-bottom: 1px #ccc solid;
    }

    .sharecamp-solution {
        text-align: center;
        width: 100%;
        display: inline-block;
    }
    @media screen and (max-width: 756px) {
        .sharecamp-solution {
            font-size:23px
        }
    }

    .solution-container {
        width: 80%;
        display: flex;
        margin: 30px auto 40px auto;
        border-bottom: 1px #ccc solid;
        padding-bottom: 20px;


        .solution-image {
            width: 50%;

            .sharecamp-show-main {
                width: 300px;
            }
        }

        .solution-text {
            width: 50%;
            margin-top: 40px;
            font-size: 25px;
            font-weight: bold;
            padding-left: 30px;

            .describe-detail-text-title {
                margin-bottom: 30px;

                @media screen and (min-width: 1122px) {
                    .br-sp {
                        display: none;
                    }
                }
            }
            @media screen and (max-width: 765px) {
                    .describe-detail-text-title{
                        font-size:14px;
                    }
                }

            .describe-detail-text {
                font-size: 14px;
                font-weight: normal;
                line-height: 30px;

                @media screen and (min-width: 1422px) {
                    .br-sp {
                        display: none;
                    }
                }

            }
            @media screen and (max-width: 765px) {
                .describe-detail-text{
                    line-height:16px;
                }
            }
        }
    }
}

.link-container {

    text-align: center;
}

.event-new {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-color: #EB5370;
    padding: 13px;
    color: white ; 
    margin: 40px 30px 10px 30px;

    &:hover {
        box-shadow: 0px 0px 10px #ccc;
    }

    &:visited {
        text-decoration: none;

    }

    &:active {
        box-shadow: 0px 0px 10px #ccc;
        position: relative;
        top: 2px;
        left: 2px;
    }
}


@media screen and (max-width: 768px) {
    .main-container {
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width:375px;
        h1{
            font-size: 35px;
        }
        .event-new{
            padding:10px;
            font-size:13px;
        }

    }
}    
