.tos-container{
    margin:30px 30px;
    width:768px;
    h1{
        margin-bottom:20px;
    }
    h2{
        margin-bottom:20px;
    }
    p{
        line-height:25px;
        margin-bottom:20px;
    }
}
