<%= page_heading "一覧ページ" %>
<div class="events-index">
    <h1 class="event-index-title">最近ブラウザで閲覧した<br class="br-sp">持ってきて欲しい物リスト</h1>
    <p class="event-index-title-description">直近５件のブラウザで<br class="br-sp">閲覧したリストを表示しています</p>

    <% @events.each do |event| %>
    <div class="event-index-event-list">
        <%= link_to event.name, event ,class:"event-index-event-name"%>
        <%= link_to "更新日時   "+event.updated_at.strftime("%Y年 %m月 %d日"),event ,class:"event-index-updated-at"  %>
    </div>
    <% end %>
    <% if @events.count==0 %>
    <p class="no-recent-watch-list">最近閲覧した持ってきて欲しい物リストは<br class="br-sp">まだありません</p>
    <% end %>

    <br>
    <div class="event-index-button-component">
        <%= link_to '持ってきて欲しい物リストを作る', new_event_path,class:"event-index-new-event-button" %>
    </div>
</div>
