.events-index {
    width: 768px;
    margin: 30px auto;


    h1 {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
        font-weight: normal;
    }


    @media screen and (min-width: 768px) {
        .br-sp {
            display: none;
        }
    }

    .title-description {
        text-align: center;
        margin-bottom: 20px;
    }


    .event {

        border: solid 1px black;
        padding: 10px;
        margin: 10px 40px;
        text-align: left;
        position: relative;

        .event-name {
            color: black;
            display: block;
            text-decoration: none;
        }

        .updated-at {
            display: block;
            color: black;
            text-decoration: none;
            font-size: 3px;
            position: absolute;
            right: 40px;
            top: 25px;
        }
    }
    .no-recent-watch-list{
        border: solid 1px black;
        width:450px;
        margin:0 auto;
        padding:8px;
        text-align: center;
    }
    @media screen and (max-width: 768px) {
        .no-recent-watch-list{
            width: 89%;
        }
    }
    
    .button-component{
        text-align: center;
    }
    .new-event-button {
        border: none;
        text-align: center;
        background-color: #ffd803;
        padding: 15px;
        margin: 50px auto 10px auto;
        width: 300px;
        text-decoration: none;
        color: black;

        &:hover {
            box-shadow: 0px 0px 10px #ccc;
        }

        &:active {
            box-shadow: 0px 0px 10px #ccc;
            position: relative;
            top: 2px;
            left: 2px;
            background-color: goldenrod;
        }
    }
}
@media screen and (max-width: 768px) {
    .events-index {
        width: 375px;
        padding: 0 10px;

    }
}
