// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.event-show {
    width: 768px;
    margin: 30px auto;
    padding: 0 16px;
}

.event-show-head {
    width: 100%;
    display: flex;
    margin-bottom: 32px;
    align-items: center;
}

.edit-button {
    font-size: 14px;
    color: #999;
    z-index:0;
}

.event-show-title {
    font-size: 28px;
    line-height: 1.4;
    flex: 1;
}

.tabs {
    display: flex;
    margin: 0 - 8px 28px;
}


.show-tabs-li {
    z-index:110;
    line-height: 40px;
    list-style: none;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    transition: .3s;
    border-radius: 4px;
    margin-left: 8px;
    margin-right: 8px;
    background: #fffffe;
    color: #999;
    flex: 1;
}


.tabs .active {
    background-color: #bae8e8;
    cursor: auto;
    color: #444444;
    font-weight: 700;
    border: solid 1px #7fb3b3;
}


.item-and-input {
    border-bottom: dashed 1px #ccc;
    padding-bottom: 8px;
    margin-bottom: 8px;
    line-height: 1.4;
}

.item-bringer-disiced {
    background: #bae8e7;
    display: inline-block;
    color: #0d3e0d;
    font-size: 12px;
    align-items: center;
    padding: 0 0.6em;
    margin-right: 8px;
    height: 29px;
    line-height:29px;
    border-radius: 4px;
    display:inline-flex;
}

.event-show-item-input {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 22px 12px;
    display:flex;
    align-items:center;
}

.bring-button {
    height: 40px;
    font-size: 13px;
    display: inline-block;
    width: 104px;
    background: #ffd803;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.event-show-item-input-number-select {
    height: 40px;
    padding: 0 8px;
    cursor: pointer;
    font-size: 16px;
    border:solid 1px #ccc;
    border-radius:4px;
    margin-right:4px;

    &:hover {
        box-shadow: 0 0 0 2px #ffd705;
    }
}



.event-show-self-bring-checkbox {
    border: solid 1px #999;
    border-radius: 4px;
    background-color: #fffffe;
}

.event-show-invite-copy-button {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 50px;
    border: none;
    background-color: #ffd803;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 10px #ccc;
    }

    &:active {
        box-shadow: 0px 0px 10px #ccc;
        position: relative;
        top: 2px;
        left: px;
        background-color: goldenrod;
    }
}

.stamp-button-component {
    display: inline-block;
}

.no-number-error {
    color: #d43a4a;
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: 7px;
}

.self-brings-contents {
    width: 400px;
    margin: 0 auto;
}

.self-bring-item {
    margin-bottom: 4px;
    padding:8px;
    border-bottom:dashed 1px #cccccc;
}

.event-show-self-bring-delete-button {
    color: #d43a3a;
    background: #f5d5d5;
    border: solid 1px #d43a3a;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 3px #d43a3a;
    }
}

.show-contents {
    list-style: none;
}

.event-show-my-items,
.show-bring-button-describe-h2 {
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 16px;
    text-align: center;
}
.event-show-my-items{
    font-size:23px;
}

.event-show-item {
    padding: 12px 188px 12px 16px;
    border: solid 1px #ccc;
    margin-bottom: 16px;
    position: relative;
    border-radius: 4px;
    min-height: 86px;
}

.event-show-item-user {
    font-size: 14px;

    li {
        display: inline-block;
    }

    button,
    p {
        display: inline-block;
    }
}

.bring-item-current-user-name {
    font-weight: bold;
    color: #158a87;
}

.invite {
    text-align: center;
    height: 400px;
}

.invite-message-title {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 23px;
    text-align: center;
}

.invite-message-content {
    margin-bottom: 30px;
    padding: 14px;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid #444;
    white-space: pre-line;
    word-wrap: break-word;
}

.modal-header {
    border-bottom: 1px solid #ddd;
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.modal-body-text {
    margin-top: 20px;
    text-align: center;

    p {
        padding: 10px;
    }
}

.modal-body-button {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;

}

.modal-body-copy-button,
.modal-body-close-button {
    width: 150px;
    height: 44px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 0 2px #ffd705;
    }

}

@media screen and (max-width: 850px) {
    .edit-button {
        font-size: 11px;
        line-height: 20px;
        width: 89px;
    }
}

@media screen and (max-width: 800px) {
    .invite-message-title {
        font-size: 19px;
        line-height: 25px;
    }
}

@media screen and (max-width: 768px) {
    .show-tabs-li {
        font-size: 10px;
        line-height: 20px;
    }
    .show-tabs-li{
        z-index:0;
    }

    .current-user-bring-item-tab{
        line-height: 40px;
        }

    .show-tabs-li:last-child {
        line-height: 40px;
    }

    .bring-button {
        line-height: 14px;
        right: 0px;
        top: -34px;
        margin-right: 0px;
        width: 80px;
        font-size: 12px;
    }

    .no-number-error {
        top: 8px;
    }

    .invite-message-content {
        font-size: 15px;
        line-height: 20px;
    }

    .invite {
        height: 600px;
    }

    .event-show-self-bring-delete-button {
        height: 27px;
        line-height: 20px;
        display: inline-block;

    }

    .modal {
        font-size: 7px;
        margin-right:10px;


        button {
            width: 100px;
            margin-right: 10px;
            margin-left: 10px;
        }
    }

    .event-show {
        max-width: 100%;
        padding: 0 10px;

    }

    .self-brings-contents {
        padding: 0 10px;
        width: 100%;
    }

    .event-show-invite-copy-button {
        width: 100%;
    }
    .self-bring-item {
        margin-left: 10px;
    }
}

@media screen and (min-width: 768px) {
    .br-sp {
        display: none;
    }
}
