header {
    width: 100%;
    background-color: #bae8e8;
    height: 44px;
    display: flex;
    text-decoration: none;

    .header-left {
        width: 80%;

        .title {
            display: inline-block;
            font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', sans-serif;
            color: black;
            font-weight: 700;
            font-size: 16px;
            margin-top: 12px;
            margin-left: 20px;
            vertical-align: middle;
            text-decoration: none;
        }

        .img_logo {
            width: 50px;
            display: inline-block;
            margin-top: 10px;
            position: absolute;
            top: -5px;
            left: 150px;
        }
    }

    .header-right {
        display: block;
        width: 250px;
        text-align: right;
        float: right;
        margin-right: 10px;

        a {
            font-weight: 700;
            color: #272343;
            text-decoration: none;

            &:hover {
                color: #ffd803;
                text-decoration: underline;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .header-right {
            font-size: 13px;
            line-height: 22px;
        }
    }
}
