header {
    width: 100%;
    background-color: #bae8e8;
    height: 44px;
    display: flex;
    text-decoration: none;

    .header-left {
        width: 70%;

        .title {
            display: inline-block;
            font-family: 'Lato', sans-serif;
            color: black;
            font-weight: 700;
            font-size: 19px;
            margin-top: 12px;
            margin-left: 20px;
            vertical-align: middle;
            text-decoration: none;
        }

        .img_logo {
            width: 50px;
            display: inline-block;
            margin-top: 10px;
            position: absolute;
            top: -5px;
            left: 150px;
        }
    }

    .header-right {
        display: flex;
        justify-content:flex-end;

        width:400px;

        .recent-watch-link{
            line-height: 40px;
            margin-right:30px;
        }
        a {
            font-weight: 700;
            color: #272343;
            text-decoration: none;
            margin-right:10px;
            &:hover {
                color: white;
                text-decoration: none;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .header-right {
            font-size: 13px;
            line-height: 22px;
        }
    }
}
