<footer id="footer" class="footer outer-block">

    <ul class="nav">

        <li><a href="https://github.com/SeijiNumata">My github</a></li>
        <li><%= link_to "利用規約", top_tos_path ,class:"tos-link" %></li>
        <li><a href="https://github.com/SeijiNumata/sharecamp">service github</a></li>
    </ul>
    <p class="copyright">© 2021 seiji</p>
</footer>
