.user-new-container {
    width: 768px;
    margin: 30px auto;

    h1 {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }
    .error-message{
        color:red;
        list-style-type: none;
        text-align: center;
    }

    .nickname-form {
        margin: 30px auto;
        border: 3px solid black;
        height: 300px;
        width: 80%;
        text-align: center;

        p,
        
        .actions {
            margin-top: 33px;
            position: relative;
            text-align: center;
        }


        label {
            font-size: 12px;
            display: inline-block;

        }

        .nickname-label {
            width: 80%;
            text-align: left;
            display: inline-block;
        }

        .text_field {
            width: 80%;
            height:40px;
            border:solid 1px #999;
            border: radius 4px;
        }

        .nickname-submit-button {
            border: none;
            background-color: #ffd803;
            padding: 11px;
            cursor: pointer;

            &:hover {
                box-shadow: 0px 0px 10px #ccc;
            }

            &:active {
                box-shadow: 0px 0px 10px #ccc;
                position: relative;
                top: 2px;
                left: 2px;
                background-color: goldenrod;

            }
        }
    }
    .back-button-user-new{
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .user-new-container {
        max-width: 100%;
        padding: 0 10px;

    }
}
