.user-new-container{
    width:80%;
    margin:30px auto;
    height:800px;
    text-align: center;
    h1 {
        font-size:20px;
        font-weight: 500;
      }
   
    .nickname-form{
        margin:30px auto;
        border: 3px solid black ;
        height:250px;
        width:450px;
        p,.field,.actions{
            margin-top:33px;
        }
        label{
            font-size: 12px;
            display:inline-block;
            
        }
        .nickname-label{
            text-align: left;
            margin-left:24px;
        }
        .text_field{
            width:90%;
        }
        .nickname-submit-button{
            border: none;
            background-color:#ffd803;
            padding:11px;
            &:hover{
                box-shadow:0px 0px 10px #ccc;
                

            }
            &:active{
                box-shadow:0px 0px 10px #ccc;
                position: relative;
                top: 2px;
                left:2px;
                background-color:goldenrod;

            }
        }
    }
    
}
